* { box-sizing: border-box; }

body {
    margin: 0;
}

.paragrafo {
  border: thin solid black;
  width: 75%;
  height: 600px;
  float: right;

}

.opciones {
  border: thin solid black;
  width: 25%;
  float: left;
    height: 600px;
}


.playground {

  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.top-logo {
  border: thin solid black;
  width: 25%;
  float: left;
}

.top-menu {
  border: thin solid black;
  width: 100%;

}
